<div class="page-header">
  <h1>Welcome! <small> Check out this blog!</small></h1>
</div>

<div class="panel panel-primary">
	<div class="media">
 		<div class="media-left media-middle">
      <a href="#">
        <img class="media-object" src="..." alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Middle aligned media</h4>
      ...
    </div>
  </div>
</div>

<div class="panel panel-success">...</div>
<div class="panel panel-info">...</div>
<div class="panel panel-warning">...</div>
<div class="panel panel-danger">...</div>