<h1>Hello!</h1>
<p>My name is Erin!</p>
<div class="row">
  <div class="col-sm-12 col-md-4">
  	<a href="/blog"> 
    <div class="thumbnail">
      <img class="img-responsive img-rounded" src="/images/blog_photo.jpg" alt="Check out that blog">
      <div class="caption">
        <h3>Blog</h3>
        <p>...</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col-sm-12 col-md-4">
   	<a href="/photos">
   	<div class="thumbnail">
      <img class="img-responsive img-rounded" src="/images/photos_photo.jpg" alt="All the photos!">
      <div class="caption">
        <h3>Photos</h3>
        <p>...</p>
      </div>
    </div>
	</a>
  </div>
  <div class="col-sm-12 col-md-4">
  	<a href="https://ca.linkedin.com/in/erindeboer" target="_blank">
	   	<div class="thumbnail">
	      <img class="img-responsive img-rounded" src="/images/linkedin_photo.jpg" alt="It's me!">
	      <div class="caption">
	        <h3>LinkedIn</h3>
	        <p>Check me out on LinkedIn!</p>
	      </div>
	    </div>
    </a>
  </div>
</div>




