<div class="page-header">
  <h1>Instagram Magic
  <div><small>Time to enjoy all my excellent and terrible photos. </small></div>
  </h1>
</div>
<div class="panel">
  <!-- INSTANSIVE WIDGET --><script src="//instansive.com/widget/js/instansive.js"></script><iframe src="//instansive.com/widgets/3a65284de24ab60418ea2bbec50ad1c7659ffaa4.html" id="instansive_3a65284de2" name="instansive_3a65284de2"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
</div>